<!-- FINISH MODAL WIN -->
{% load static %}
<div id="finishModal-win" class="modal">
    <div id="emojis">
        <img src="{% static 'tictactoegame/img/laugh1.png' %}" alt="" srcset="" class="emoji">
        <img src="{% static 'tictactoegame/img/laugh2.png' %}" alt="" srcset="" class="emoji">
        <img src="{% static 'tictactoegame/img/laugh3.png' %}" alt="" srcset="" class="emoji">
        <img src="{% static 'tictactoegame/img/laugh4.png' %}" alt="" srcset="" class="emoji">
    </div>
    <h2>You Won</h2>
    <h3 id="left-msg">Player left battlefiled</h3>
    <button id="gotoHome" class="gotoHomeButton">Home</button>
</div>